<div class="row" class="main-container">
  <div class="article-details-container col-7">
    <!-- headline -->
    <div class="heading-container">{{ articleDetailsData?.headline.main }}</div>
    <div>
      <!-- published date -->
      <div class="published-date-container">
        {{ articleDetailsData?.pub_date | date }}
      </div>
      <div class="byline-container">
        {{ articleDetailsData?.byline.original }}
      </div>
    </div>
    <!-- lead paragraph -->
    <div class="paragraph-container">
      {{ articleDetailsData?.lead_paragraph }}
    </div>
  </div>
</div>
