.spinner {
  display: flex;
  justify-content: center;
  margin: 10rem;
}
:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: black;
}

.outer-container-category {
  display: flex;
  justify-items: center;
  justify-content: center;
}
.category-nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 5px 0 4px;
  margin: 0 60px;
  align-items: center;
}
mat-form-field,
mat-icon {
  color: white;
}
a {
  text-decoration: none;
  color: black;
}
.category-nav-container,
.line-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #000;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 80%;
}
.line-container {
  margin-bottom: 1rem;
}
.category-nav-item {
  display: inline-block;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
}
.example-card {
  max-width: 100%;
  margin-bottom: 2%;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.card-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.news-container {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
mat-card {
  background: #f5f4f4;
}
mat-card-title {
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-size: 1.125rem;
  line-height: 1.2em;
  -webkit-letter-spacing: 0.01em;
  -moz-letter-spacing: 0.01em;
  -ms-letter-spacing: 0.01em;
  letter-spacing: 0.01em;
  color: var(--color-content-primary, #121212);
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}
mat-card-content {
  color: var(--color-content-tertiary, #5a5a5a);
  font-family: nyt-imperial;
  font-size: 0.875rem;
  -webkit-letter-spacing: 0.1px;
  -moz-letter-spacing: 0.1px;
  -ms-letter-spacing: 0.1px;
  letter-spacing: 0.1px;
  line-height: 1.1875rem;
  margin: 0;
  padding: 0;
}
