<div class="news-container">
  <div class="row col-10" *ngFor="let topStory of topStories">
    <mat-card
      class="example-card"
      (click)="viewArticle(topStory.url, topStory.uri)"
    >
      <div class="card-content">
        <div class="col-8">
          <mat-card-title>{{ topStory.title }}</mat-card-title>
          <mat-card-subtitle>{{
            topStory.published_date | date
          }}</mat-card-subtitle>
          <mat-card-content>
            <div>
              <p>
                {{ topStory.abstract }}
              </p>
            </div>
          </mat-card-content>
          <!-- <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions> -->
        </div>
        <img [src]="topStory.multimedia[0].url" class="col-3" />
      </div>
    </mat-card>

    <hr />
  </div>
</div>
