<!-- search bar -->
<div class="search-container">
  <div class="col-6">
    <mat-form-field class="example-form-field col-8" appearance="fill">
      <mat-label style="color: white">Search Keyword</mat-label>
      <input
        matInput
        (keyup)="showContent = false"
        type="text"
        [(ngModel)]="value"
      />
      <button
        *ngIf="value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="value = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <button
      *ngIf="value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="searchQuery(value)"
    >
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <!-- ------------------------- -->
  <!-- paginator container -->
  <div>
    <mat-paginator
      [length]="length"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [pageSizeOptions]="pageSizeOptions"
      (page)="getPageEvent($event)"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
  <!-- paginator container ends-->
</div>

<!-- show results after APi search is done -->
<div *ngIf="showContent">
  <!-- search results for container -->
  <ng-container>
    <div class="results col-8" *ngIf="value.trim().length">
      <b
        ><u>
          <h4 style="font-size: 1.5rem">Search Results for : {{ value }}</h4></u
        ></b
      >
    </div>
  </ng-container>
  <!-- search results for container ends -->

  <!-- all articles main container start -->
  <div class="main-container" *ngIf="length > 0 && !showLoader; else NoResults">
    <div class="articles-container col-7 row">
      <ng-container *ngFor="let article of articles">
        <div class="">
          <!-- single article container -->
          <div
            class="col-12 article-container"
            (click)="articleDetails(article.uri)"
          >
            <div class="article-date-container col-2">
              {{ article.pub_date | date }}
            </div>

            <!-- article details section start -->
            <div class="article-details-container col-8">
              <div class="section-name" *ngIf="article.section_name">
                {{ article.section_name }}
              </div>
              <div *ngIf="article.headline.print_headline">
                <h4 class="print-headline">
                  {{ article.headline.print_headline }}
                </h4>
              </div>
              <div
                class="abstract"
                *ngIf="article.abstract"
                [innerHTML]="article.abstract"
              >
                <!-- {{ article.abstract }} -->
              </div>
              <div class="byline-original" *ngIf="article.byline.original">
                {{ article.byline.original }}
              </div>

              <!-- print edition container -->
              <div class="print-edition-conatiner">
                <div class="divider"></div>
                <div class="print-edition-tag">PRINT EDITION</div>
                <div class="print-date">{{ article.pub_date | date }}</div>
              </div>
              <!-- print editoin container ends -->
            </div>
            <!-- article details section end -->
          </div>
        </div>
        <!-- single article container ends-->
      </ng-container>
    </div>
  </div>
  <!-- all articles main container ends -->
</div>

<!-- spinner -->
<div class="spinner" *ngIf="showLoader">
  <mat-spinner [diameter]="70"></mat-spinner>
</div>
<!-- spinner ends -->

<!-- No results found template -->
<ng-template #NoResults>
  <div
    class="no-results-container"
    *ngIf="value.trim().length > 0 && !showLoader"
  >
    <p>
      NO Results Found for
      <b
        ><u>{{ value }}</u></b
      >
    </p>
  </div>
</ng-template>
