<div class="main-container">
  <div>
    <h2>Create an account or Log in</h2>
  </div>
</div>

<!-- form -->
<div class="main-form-container" [ngSwitch]="mode">
  <div class="col-10 main-form-container">
    <!-- signup-form -->
    <div class="col-10 main-form-container" *ngSwitchCase="'signUp'">
      <form
        [formGroup]="signUpForm"
        (ngSubmit)="onSubmitSignUpForm(signUpForm)"
        class="col-8 main-form-container"
      >
        <div class="col-9 form-group-container">
          <div class="col-10 form-contents">
            <label> First Name : </label>
            <input type="text" formControlName="firstName" />

            <label> Last Name : </label>
            <input type="text" formControlName="lastName" />

            <label> Email : </label>
            <input
              type="text"
              formControlName="email"
              (keydown.space)="$event.preventDefault()"
            />

            <label> Password : </label>
            <input
              type="password"
              formControlName="password"
              (keydown.space)="$event.preventDefault()"
            />
            <label *ngIf="signUpForm.status === 'INVALID'" style="color: red">
              Enter details to enable Register button
            </label>
            <button [disabled]="signUpForm.status === 'INVALID'" type="submit">
              Register
            </button>
            <div class="separator">
              <span>or</span>
            </div>
            <a (click)="mode = 'login'"><u>Login</u></a>
          </div>
        </div>
      </form>
    </div>
    <!-- signup form ends -->

    <!-- ------- -->

    <!-- login form -->
    <div class="col-10 main-form-container" *ngSwitchCase="'login'">
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmitLoginForm(loginForm)"
        class="col-8 main-form-container"
      >
        <div class="col-9 form-group-container">
          <div class="col-10 form-contents">
            <label> Email : </label>
            <input
              type="text"
              formControlName="email"
              (keydown.space)="$event.preventDefault()"
            />
            <label> Password : </label>
            <input
              type="password"
              formControlName="password"
              (keydown.space)="$event.preventDefault()"
            />
            <button [disabled]="loginForm.status === 'INVALID'" type="submit">
              Log in
            </button>
            <div class="separator">
              <span>or</span>
            </div>
            <a (click)="mode = 'signUp'"><u>Register</u></a>
          </div>
        </div>
      </form>
      <!-- login form ends -->
    </div>
  </div>
</div>
